<div class="startNav">
    <%- include nav %>
</div>

    <header class="header">
        <div class="title">
            <nav class="navigation">
                <ul class="nav">
                    <a class="nav-links" href="/"><li>Home</li></a>
                    <a class="nav-links" href="/albums"><li>Albums</li></a>
                    <a class="nav-links" href="/about"><li>Om</li></a>
                </ul>
            </nav>
            <h1 class="title-name" id="waypoint">Fotoguden</h1>
        </div>
        <a class="next" href="#"><div class="arrow">
        </div></a>
    </header>
    <main class="content">

        <section class="favorites">
            <div class="grid">
            <h2>Selected favorites</h2>
            </div>
            
            <div class="grid">
                <div class="grid-wrapper">
                    <% selectedImages.forEach(function(s) { %>
                    <div class="grid-children">
                        <img class="intense" data-image="<%= s %>?size=Large 2048" src="<%= s %>?size=Large" />
                    </div>
                    <% }); %>
                </div>
            </div>
        </section>

        <%- include cta %>

        <section>
            <div class="grid">
            <h2>Latest albums</h2>
            </div>
            <%- include collectionList %>
        </section>


    </main>