<div class="grid-wrapper">
<% selectedImages.forEach(function(s) { %>
<div class="grid-children">
    <img src="<%= s %>" />
</div>
<% }); %>
</div>
<div class="collections">
<% photosets.forEach(function(s) { %>
<div class="collection-wrap" data-id="<%= s.id %>">
        <h2 class="collection-title"><%= s.title._content %></h2>
        <a href="/collections/<%= s.id %>"><img class="b-lazy lazy-img" data-src="<%= s.url %>" /></a>

</div>
<% }); %>
</div>

